*{
    margin:0px;
    padding:0px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.navbar{
    height: 80px;

}
.logo{
    height: 2.5rem;
    width:9.25rem ;
}
main{
    background-image: url(header-image.png);
    height: 27.25rem;
    width: 50 rem;
    padding: 60px;
    margin: 30px;
    border-radius: 10px;
}
